ai_env
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/data
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/horse-or-human
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/horse-or-human.zip
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/validation-horse-or-human.zip
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/validation-horse-or-human
02_CNN_In_Tensorflow/01_Exploring_A_Larger_Dataset/cats_and_dogs_filtered
02_CNN_In_Tensorflow/01_Exploring_A_Larger_Dataset/cats_and_dogs_filtered.zip
02_CNN_In_Tensorflow/01_Exploring_A_Larger_Dataset/cats_dogs_inference