ai_env
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/data
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/horse-or-human
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/horse-or-human.zip
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/validation-horse-or-human.zip
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/validation-horse-or-human
02_CNN_In_Tensorflow/01_Exploring_A_Larger_Dataset/cats_and_dogs_filtered
02_CNN_In_Tensorflow/01_Exploring_A_Larger_Dataset/cats_and_dogs_filtered.zip
02_CNN_In_Tensorflow/01_Exploring_A_Larger_Dataset/cats_dogs_inference
02_CNN_In_Tensorflow/02_Augmentaion_A_Technique_To_Avoid_Overfitting/cats_and_dogs_filtered.zip
02_CNN_In_Tensorflow/02_Augmentaion_A_Technique_To_Avoid_Overfitting/horse-or-human.zip
02_CNN_In_Tensorflow/02_Augmentaion_A_Technique_To_Avoid_Overfitting/validation-horse-or-human.zip
02_CNN_In_Tensorflow/02_Augmentaion_A_Technique_To_Avoid_Overfitting/tmp/cats_and_dogs_filtered
02_CNN_In_Tensorflow/02_Augmentaion_A_Technique_To_Avoid_Overfitting/tmp
02_CNN_In_Tensorflow/03_Transfer_Learning/tmp/cats_and_dogs_filtered
02_CNN_In_Tensorflow/03_Transfer_Learning/tmp
02_CNN_In_Tensorflow/03_Transfer_Learning/cats_and_dogs_filtered.zip
02_CNN_In_Tensorflow/04_Multiclass_Classification/tmp
02_CNN_In_Tensorflow/04_Multiclass_Classification/rps-test-set.zip
02_CNN_In_Tensorflow/04_Multiclass_Classification/rps.zip
03_NLP_Tensorflow/02_Word_Embeddings/meta.tsv
03_NLP_Tensorflow/02_Word_Embeddings/vecs.tsv
03_NLP_Tensorflow/02_Word_Embeddings/sarcasm.json
