ai_env
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/data
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/horse-or-human
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/horse-or-human.zip
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/validation-horse-or-human.zip
01_Intro_To_Tensorflow_AI_ML_DL/04_using_real_world_images/validation-horse-or-human